# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/

# Django
backend/db.sqlite3
backend/media/
backend/staticfiles/

# Node
node_modules/
frontend/dist/

# Env
.env
.env.local
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
